<header class="header-container">
	<div class="wrapp">
		<img src="dist/img/marsbq_logo.png" alt="MarsBQ">
		<h1>marsbq 133</h1>
		<p>Join us for the first intergalactic BBQ</p>
		<h2>Saturday November 5, 2050</h2>

		<a href="#">Register to Attend</a>
	</div>

</header>
