@import "../../node_modules/normalize.css/normalize.css";
@import "./modules/base.scss";
@import "./modules/helper.scss";


/* =======================================
    author styles
    place your custom styles below here
========================================== */

header{
  h1{
    color:orange;
  }
}

.wrapp{
  max-width: 1100px;
  margin: 0 auto;
}






















